@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  font-family: "Roboto", sans-serif;

}

.body {
  width: 100vw;
  min-height: max-content;
  display: flex;
  place-content: center;

}

:root {
  --colorBlanco: #ffffff;
  --principalColor: #ff7900;
  --colorPrimario2: #ffa858;
  --colorPrimario3: #ff8a20;
  --colorPrimario4: #e06a00;
  --colorPrimario5: #703500;
  --colorNegro2: #202020;
  --colorNegro3: #101010;
  --colorNegro: #000000;
  --fondoGaleria: #e0e0e0;
}

/*   etc   */

.colorPrimario {
  color: var(--principalColor);
}

.colorBlanco {
  color: white;
}

.displayFlexRow {
  display: flex;
  flex-direction: row;
}

.zindex1000 {
  z-index: 10000;
}

.app {
  max-width: 800px;
  background-color: var(--principalColor);
}




.espaciado1remLeft {
  margin-right: 1rem;
}

.padding1em {
  padding-bottom: .5em;
}

.marginBottom1em {
  margin-bottom: 5em;
}

/*   header   */


.box_head_redes {
  background-color: #101010;
  color: #FFF;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box_head_redes-item {
  padding-bottom: 10px;
}

.box_head {
  width: 100%;
  margin: 20px auto;
  background-color: #FFF;
  padding: 10px;
}

.box_logo {
  width: 100%;
  display: flex;
  place-content: center;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-left: 5vw;
  width: 90px;
  height: 70px;
  background-color: transparent;
  border: solid 5px var(--principalColor);
  border-radius: 0cqmin;
  position: relative;
}

.logo_name {
  display: flex;
  flex-direction: row;
  color: var(--principalColor);
  font-size: 40px;
  place-content: center;
  justify-content: space-around;
}

.logo_title {
  color: rgb(59, 59, 59);
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  height: 100%;
  text-transform: uppercase;
}

.logo::after {
  content: "";
  width: 1px;
  height: 45px;
  background-color: var(--principalColor);
  position: absolute;
  left: 43px;
  top: 10px;
}

.bi-whatsapp {
  color: black;
  width: 60px;
  height: 60px;
}

/*     PopUp Social Media    */
.social-media-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease;
}

.social-media-menu.open {
  transform: translateX(-100%);
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
}

.arrow-icon {
  margin: auto;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons img {
  width: 32px;
  height: 32px;
}




/* --- main --- */



.imgCarousel {
  width: 100%;
  filter: brightness(1.1);
}

.galeria_button {
  background-color: var(--colorBlanco);
  box-shadow: 1px 0px 19px -1px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 1px 0px 19px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 0px 19px -1px rgba(0, 0, 0, 0.52);
  animation: myAnim 1000ms ease-in-out 0s 1 normal none;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.galeria_button_link {
  color: var(--colorNegro2);
}

.container_nosotros {
  padding: 10px;
  margin: 20px 0px;
  background-color: var(--colorPrimario3);
  width: 100%;
  border-radius: 10px;
}

.nosotros {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin: 30px 0px;

}

.nosotros::before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: var(--colorPrimario2);
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100px;
  margin: 0 auto;
}



.imgStatic {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("/public/Imagen de WhatsApp 2024-04-01 a las 00.19.23_257afb3b.jpg");
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.imgStatic::before {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100%;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index: -1;
}

.imgStatic-text {
  max-width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--colorBlanco);
  text-align: center;
  place-content: center;
}


.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke .6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;

  animation: ripples 1s linear infinite, ease-in-out .4s forwards, scale 2s ease-in-out .9s both;
  animation-iteration-count: infinite;

  box-shadow: 0 0 rgba(255, 255, 255, 0.2), 0 0 0 8px rgba(255, 255, 255, 0.2), 0 0 0 16px rgba(255, 255, 255, 0.2), 0 0 0 24px rgba(255, 255, 255, 0.2);
  opacity: 1;
  visibility: visible;

}

@keyframes ripples {
  100% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2), 0 0 0 16px rgba(255, 255, 255, 0.2), 0 0 0 24px rgba(255, 255, 255, 0.2), 0 0 0 32px rgba(255, 255, 255, 0);
  }
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}



/*    servicios   */




.servicios {
  margin: 20px 0px;
  padding: 10px;
  background-color: var(--colorPrimario3);
  border-radius: 10px;
}

.servicios_title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin: 30px 0px;
}

.servicios_title::before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: var(--colorPrimario2);
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100px;
  margin: 0 auto;
}


.servicos_container {
  background-color: var(--colorPrimario2);
  border-radius: 8px;
  padding: 10px;
}

.service {
  font-size: 18px;
}





/* --- footer --- */




.box_container_footer {
  color: #FFF;
  background-color: var(--colorNegro3);
  width: 100%;
  letter-spacing: 1px;
  padding: 1em;
}

.footer_title {
  width: 100%;
  margin-top: 0;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1.6;
  border-bottom: 2px solid var(--colorNegro2);
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 20px;
}

.li {
  list-style-type: none;
}

.footer_title::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100px;
  border-bottom: 2px solid #ffb923;
}

.footer_text_image {
  font-size: 12px;
  background-color: var(--colorNegro2);
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  color: var(--colorBlanco);
  display: flex;
  place-content: center;
}



/*  --    icono whatsapp    --  */

.popup__box {
  position: fixed;
  right: 10px;
  bottom: 1em;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #31313167;
  border-radius: 30px;
}

.popup__icon {
  width: 45px;
  height: 45px;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
  z-index: 1000;
}

.popup__icon:hover {
  scale: 1.05;
}

.popup__icon:active {
  scale: .95;
}

.tel {
  background-image: url(../public/call.png);
}

.whatsapp {
  background-image: url(../public/whatsapp.png);
  z-index: 1000;
}

.instagram {
  background-image: url(../public/instagram.png);
}

.facebook {
  background-image: url(../public/facebook.png);
}



/* ------ page galeria --------------*/


.flexGaleria {
  width: 100%;
  display: flex;
  place-content: center;
  flex-direction: column;
  background-color: var(--fondoGaleria);
  padding: 20px 0px;
}

.galeria__link {
  width: 90%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 0px 10px -1px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 1px 0px 10px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 0px 10px -1px rgba(0, 0, 0, 0.52);
}

.imgCardGaleria {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  filter: brightness(1.1);
}

.titleCard {
  width: 100%;
  background-color: var(--colorBlanco);
  padding: 10px 0px;
  color: #202020;
  text-align: center;
  border-radius: 0px 0px 10px 10px;

}

.gapGaleria {
  gap: 20px;
}

.brightness {
  filter: brightness(1.1);
}

.imgCarruselServicios {
  width: 100%;
  height: 190px;
  background-color: var(--colorPrimario2);
  display: flex;
  place-content: center;
  border-radius: 10px;
  z-index: 1;
}

.tituloServicios {
  color: #000;
  z-index: 1;
  text-transform: uppercase;
}

.textoServicios {
  color: #000;
  z-index: 1;
}

.zindex1 {
  z-index: 1;
}

.carousel-indicators li {
  border-top: unset;
  width: 10px;
  border-bottom: unset;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

.carousel-indicators .active {
  border-top: unset;
  border-bottom: unset;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}


.carousel-indicators:only-child {
  border-top: unset;
  border-bottom: unset;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

.carousel-indicators [data-bs-target] {
  border-top: unset;
  width: 10px;
  border-bottom: unset;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 10px;
  height: 10px;
  margin: 0px 6px;
}



/*  ------------------------------------------- 

              media queries

---------------------------------------------
*/

@media screen and (min-width: 800px) {
  .appPC {
    width: 100vw;
    display: flex;
    place-content: center;
    background-color: var(--principalColor);
  }

  .box_head_redes {
    width: 100vw;
    position: absolute;
    right: 0px;

  }

  .box_head {
    margin-top: 100px;
  }

  .galeria__link {
    max-height: 500px;
    max-width: fit-content;
  }

}


/* Estilos para el botón toggle */
.social-media-button {
  position: sticky;
  display: inline-block;
  left: 80%;
  bottom: 8%;
}

.toggle-button {
  background-color: #3d3d3dbd;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60px;
  height: 60px;
}

.toggle-button.open {
  background-color: #3d3d3d;

  z-index: 1000;

}

/* Estilos para el menú de redes sociales */
.social-media-menu {
  position: absolute;
  top: -200px;
  /* Ajusta la posición vertical del menú */
  left:5%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #575757d0;
  border-radius: 30px;
  padding: 27px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
  z-index: -1;
  padding-bottom: 35px;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    height: 0px;
  }

  100% {
    -webkit-transform: translateY(0.8s);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    opacity: 0;
  }

  55%{
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Estilos para los íconos de redes sociales */
.social-media-menu .social-icon {
  color: #020202;
  z-index: 100;
  position: relative;
  left: -22px;
  border-radius: 50%;
  position: relative;
  animation: slider 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slider {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: max-content;
  }
}

.social-media-menu .social-icon:hover {
  color: #e74c3c;
  z-index: 100;

}

.dotsMenu {
  width: 60px;
  height: 60px;
}

.dotsMenu:active {
  scale: 1.1;
  transition: .5s;
}